    <div class="col-md-8">
    <div class="profile-container-top">
        <div xmlns="http://www.w3.org/1999/xhtml" class="paperdoll" id="paperdoll">

            <ul class="gear-slots">
                <li class="slot-head">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/the-shadows-mask" data-d3tooltip="item/CnAIh7m80AISBwgEFXMsRIkdS7X5Sx1xi3fwHd6C_OUd5hXbDR1mIwZQHcr6vKAwi1o4twNAAFASWARgtwNqKQoMCAAQ0bfV2YGAgMAIEhkIp-HVlgUSBwgEFYy-HMIwj1I4AEABkAEFgAFGtQF_-U5dGJnO3usOUABYAqABmc7e6w6gAdnP7uAOoAHX78L7BaABiN2D-AGgAabR65QGoAH6jpGsDw">
                        <span class="d3-icon d3-icon-item d3-icon-item-green">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_helm_set_14_x1_demonhunter_male.png" alt="" />
                        </span>

                        <span class="sockets-wrapper">
                            <span class="sockets-align">
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/x1_diamond_09_demonhunter_male.png" />
                                </span><br />
                            </span>
                        </span>
                    </a>



                </li>
                <li class="slot-torso">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/the-shadows-bane" data-d3tooltip="item/CuIBCIzKmYUDEgcIBBVEd4APHfHTatUdcyMGUB07J28kHSa1HZUdrNOZOR0_8gnYMItSOJgDQABQElgEYJgDaisKDAgAEN2svtyHgICgDhIbCJyirLoEEgcIBBVCLTepMI9SOABAAVgEkAEFaisKDAgAEOfMg9OCgIDgOhIbCNWzm5MHEgcIBBVCLTepMI9SOABAAVgEkAEFaisKDAgAEOPNg9OCgIDgOhIbCPThyZQBEgcIBBVCLTepMI9SOABAAVgEkAEFgAFGpQEmtR2VrQFDTkRRtQExIhlguAGJ5crDD8ABBhiI3YP4AVAAWAKgAZnO3usOoAHZz-7gDqAB1-_C-wWgAYjdg_gBoAGm0euUBqAB-o6RrA8">
                        <span class="d3-icon d3-icon-item d3-icon-item-green">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_chest_set_14_x1_demonhunter_female.png" alt="" />
                        </span>

                        <span class="sockets-wrapper">
                            <span class="sockets-align">
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/x1_emerald_10_demonhunter_male.png" />
                                </span><br />
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/x1_emerald_10_demonhunter_male.png" />
                                </span><br />
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/x1_emerald_10_demonhunter_male.png" />
                                </span><br />
                            </span>
                        </span>
                    </a>



                </li>
                <li class="slot-feet">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/the-shadows-heels" data-d3tooltip="item/CloIs97SexIHCAQVFKRH0B2s05k5HT_yCdgdOydvJB1gniZHHUNORFEd8dNq1TCLUjiTA0AAUBJYBGCTA4ABRqUBYJ4mR60B6-LkBbUBoEWbf7gBvrqL-wvAAQQY1-_C-wVQAFgCoAGZzt7rDqAB2c_u4A6gAdfvwvsFoAGI3YP4AaABptHrlAagAfqOkawP">
                        <span class="d3-icon d3-icon-item d3-icon-item-green">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_boots_set_14_x1_demonhunter_male.png" alt="" />
                        </span>

                    </a>



                </li>
                <li class="slot-hands">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/the-shadows-grasp" data-d3tooltip="item/ClsI3rzXvQISBwgEFb0jwnodcYt38B0WSfSHHbi8IHodnAYAyx1-VrMuHcr6vKAwi1o4ygJAAFASWARgygKAAUalAbi8IHqtAZinjsC1AclbkqS4AYvZh_4IwAEIGPqOkawPUABYAqABmc7e6w6gAdnP7uAOoAHX78L7BaABiN2D-AGgAabR65QGoAH6jpGsDw">
                        <span class="d3-icon d3-icon-item d3-icon-item-green">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_gloves_set_14_x1_demonhunter_male.png" alt="" />
                        </span>

                    </a>



                </li>
                <li class="slot-shoulders">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/the-shadows-burden" data-d3tooltip="item/ClsI76C3vAgSBwgEFRMs8okd8dNq1R07J28kHUNORFEduLwgeh3ErTlcHazTmTkwi1I41wJAAFASWARg1wKAAUalAfHTatWtAfHTatW1AdL4yBW4Ad2v9JYDwAEGGNnP7uAOUABYAqABmc7e6w6gAdnP7uAOoAHX78L7BaABiN2D-AGgAabR65QGoAH6jpGsDw">
                        <span class="d3-icon d3-icon-item d3-icon-item-green">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_shoulder_set_14_x1_demonhunter_male.png" alt="" />
                        </span>

                    </a>



                </li>
                <li class="slot-legs">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/the-shadows-coil" data-d3tooltip="item/Cp8BCLWL56sDEgcIBBVTdE0xHfHTatUdj5DKUB04neQEHUNORFEdf46HzB3TzAdjMItSOI0CQABQElgEYI0CaisKDAgAEI-E7sSBgIDgCxIbCNXVt_ULEgcIBBVCLTepMItSOABAAVgEkAEFaisKDAgAEJ2pg9OCgIDgOhIbCN68pbAKEgcIBBVCLTepMI9SOABAAVgEkAEFgAFGtQGfktWlGKbR65QGUABYAqABmc7e6w6gAdnP7uAOoAHX78L7BaABiN2D-AGgAabR65QGoAH6jpGsDw">
                        <span class="d3-icon d3-icon-item d3-icon-item-green">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_pants_set_14_x1_demonhunter_male.png" alt="" />
                        </span>

                        <span class="sockets-wrapper">
                            <span class="sockets-align">
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/x1_emerald_10_demonhunter_male.png" />
                                </span><br />
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/x1_emerald_10_demonhunter_male.png" />
                                </span><br />
                            </span>
                        </span>
                    </a>



                </li>
                <li class="slot-bracers">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/wraps-of-clarity" data-d3tooltip="item/ClYI65jq4Q0SBwgEFRq00R8d8dNq1R3mFdsNHT51eQUdOydvJB23W1RNMItSOKsCQABQElgEYKsCgAFGpQHmFdsNrQHmFdsNtQHbLMrLuAH5xLisA8ABAxi00I39A1AAWAI">
                        <span class="d3-icon d3-icon-item d3-icon-item-orange">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/p3_unique_bracer_103_demonhunter_male.png" alt="" />
                        </span>

                    </a>



                </li>
                <li class="slot-mainHand">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/thunderfury-blessed-blade-of-the-windseeker" data-d3tooltip="item/CoIBCJb1xJ4LEgcIBBVWt3pQHRtdz0Qdnk-D3B1mIwZQHZBY1h4d9HAHrTCLWjjqAkAAUBJYBGDqAmorCgwIABCfoIPTgoCA4DoSGwiG6M2qAhIHCAQVQi03qTCPUjgAQAFYBJABBYABRqUB9HAHra0Byvq8oLUBm9nZ77gBgsulVsABARis3dWHClAAWAI">
                        <span class="d3-icon d3-icon-item d3-icon-item-orange">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_sword_1h_101_x1_demonhunter_male.png" alt="" />
                        </span>

                        <span class="sockets-wrapper">
                            <span class="sockets-align">
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/x1_emerald_10_demonhunter_male.png" />
                                </span><br />
                            </span>
                        </span>
                    </a>



                </li>
                <li class="slot-offHand">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/emimeis-duffel" data-d3tooltip="item/ClYIm7bvrg0SBwgEFW3ndeodyfq8oB0mtR2VHZsGAMsddEWniR2AZlxGMItSOPsCQABQElgEYPsCgAFGpQEmtR2VrQF-VrMutQFU6r5buAG_md-UDsABEhil4tDYAlAAWAI">
                        <span class="d3-icon d3-icon-item d3-icon-item-orange">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_quiver_103_x1_demonhunter_male.png" alt="" />
                        </span>

                    </a>



                </li>
                <li class="slot-waist">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/chain-of-shadows" data-d3tooltip="item/ClYIxoSnoAMSBwgEFYDGMFgdOLLA1R3FRGRTHSCNN1QdQ05EUR3x02rVMItSOKUDQABQElgEYKoDgAFGpQHFRGRTrQHkMa8EtQHAp0LUuAH-4dn2AcABAhiAmoaDC1AAWAI">
                        <span class="d3-icon d3-icon-item d3-icon-item-orange">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/p4_unique_belt_01_demonhunter_male.png" alt="" />
                        </span>

                    </a>



                </li>
                <li class="slot-rightFinger">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/restraint" data-d3tooltip="item/Co0BCMrNn70IEgcIBBXqNOh1Hay801Mdf46HzB1DTkRRHZinjsAd8dNq1R1mIwZQMItSOI4DQABQElgEYI4DajAKDAgAEKib-4ODgIDgChIgCJKW188OEgcIBBXKirPBMItSOABAAFASWASQAQXYATiAAUalAZinjsCtAZinjsC1ATZVXUS4AcvdgL8KwAEHGNTTwd4OUABYAqABkqK93g6gAdTTwd4O">
                        <span class="d3-icon d3-icon-item d3-icon-item-green">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_ring_set_002_x1_demonhunter_male.png" alt="" />
                        </span>

                        <span class="sockets-wrapper">
                            <span class="sockets-align">
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/unique_gem_013_x1_demonhunter_male.png" />
                                </span><br />
                            </span>
                        </span>
                    </a>



                </li>
                <li class="slot-leftFinger">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/focus" data-d3tooltip="item/Co0BCK_FyvcNEgcIBBWJqOd1HbRPiW4dG13PRB3egvzlHYQDodYd3DtTaB1mIwZQMItaOI8DQABQElgEYI8DajAKDAgAEIfxyYqBgICgGRIgCLOPksYCEgcIBBWHWaDBMIsCOABAAFASWASQAQDYATyAAUalAdw7U2itATKJx1q1ATZVXUS4Aa-M1LoOwAEEGJKivd4OUABYAqABkqK93g6gAdTTwd4O">
                        <span class="d3-icon d3-icon-item d3-icon-item-green">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_ring_set_001_x1_demonhunter_male.png" alt="" />
                        </span>

                        <span class="sockets-wrapper">
                            <span class="sockets-align">
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/unique_gem_001_x1_demonhunter_male.png" />
                                </span><br />
                            </span>
                        </span>
                    </a>



                </li>
                <li class="slot-neck">

                    <a class="slot-link" href="http://eu.battle.net/d3/en/item/haunt-of-vaxo" data-d3tooltip="item/CoYBCL-w-LYFEgcIBBUXyVtdHazTmTkdmwYAyx1ADVULHX5Wsy4dyfq8oDCLUjiaA0AAUBJYBGCfA2ouCgwIABCSvs73hYCA4CQSHgiK72wSBwgEFejloMEwiwI4AEAAUBJYBJABANgBPIABRqUBQA1VC60BZiMGULUBsMVEZLgBsqaRuQfAAQcYrqTe1QtQAFgC">
                        <span class="d3-icon d3-icon-item d3-icon-item-orange">
                            <span class="icon-item-gradient">
                                <span class="icon-item-inner"></span>
                            </span>
                        </span>

                        <span class="image">
                            <img src="http://media.blizzard.com/d3/icons/items/large/unique_amulet_101_x1_demonhunter_male.png" alt="" />
                        </span>

                        <span class="sockets-wrapper">
                            <span class="sockets-align">
                                <span class="socket">
                                    <img class="gem" src="http://media.blizzard.com/d3/icons/items/small/unique_gem_002_x1_demonhunter_male.png" />
                                </span><br />
                            </span>
                        </span>
                    </a>



                </li>

            </ul>

            <ul class="gear-labels" id="gear-labels">

                <li class="gear-label slot-head">
                    <a href="http://eu.battle.net/d3/en/item/the-shadows-mask" data-d3tooltip="item/CnAIh7m80AISBwgEFXMsRIkdS7X5Sx1xi3fwHd6C_OUd5hXbDR1mIwZQHcr6vKAwi1o4twNAAFASWARgtwNqKQoMCAAQ0bfV2YGAgMAIEhkIp-HVlgUSBwgEFYy-HMIwj1I4AEABkAEFgAFGtQF_-U5dGJnO3usOUABYAqABmc7e6w6gAdnP7uAOoAHX78L7BaABiN2D-AGgAabR65QGoAH6jpGsDw" class="label-link d3-color-green">
                        <span class="item-name">The Shadow's Mask</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+913</span> Dexterity</span>
                        <span class="bonus-value bonus-54 long-bonus       " style="display:none"><span class="value">+</span><span class="value">117</span> Resistance to All Elements</span>
                        <span class="bonus-value bonus-67 long-bonus       " style="display:none">Critical Hit Chance Increased by <span class="value">5.0</span><span class="value">%</span></span>
                        <span class="bonus-value bonus-102 long-bonus       " style="display:none">Reduces cooldown of all skills by <span class="value">12.0</span><span class="value">%</span>.</span>
                        <span class="bonus-value bonus-246 long-bonus       " style="display:none">Increases Gold and Health Pickup by <span class="value">2</span> Yards.</></span>
                        <span class="bonus-value bonus-247 long-bonus       " style="display:none">Reduces duration of control impairing effects by <span class="value">27</span><span class="value">%</span></></span>
                    </a>

                </li>



                <li class="gear-label slot-torso">
                    <a href="http://eu.battle.net/d3/en/item/the-shadows-bane" data-d3tooltip="item/CuIBCIzKmYUDEgcIBBVEd4APHfHTatUdcyMGUB07J28kHSa1HZUdrNOZOR0_8gnYMItSOJgDQABQElgEYJgDaisKDAgAEN2svtyHgICgDhIbCJyirLoEEgcIBBVCLTepMI9SOABAAVgEkAEFaisKDAgAEOfMg9OCgIDgOhIbCNWzm5MHEgcIBBVCLTepMI9SOABAAVgEkAEFaisKDAgAEOPNg9OCgIDgOhIbCPThyZQBEgcIBBVCLTepMI9SOABAAVgEkAEFgAFGpQEmtR2VrQFDTkRRtQExIhlguAGJ5crDD8ABBhiI3YP4AVAAWAKgAZnO3usOoAHZz-7gDqAB1-_C-wWgAYjdg_gBoAGm0euUBqAB-o6RrA8" class="label-link d3-color-green">
                        <span class="item-name">The Shadow's Bane</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+1339</span> Dexterity</></span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+499</span> Vitality</></span>
                        <span class="bonus-value bonus-54 long-bonus       " style="display:none"><span class="value">+</span><span class="value">99</span> Resistance to All Elements</></span>
                        <span class="bonus-value bonus-153 long-bonus       " style="display:none"><span class="value">+35</span><span class="value">%</span> Extra Gold from Monsters</></span>
                        <span class="bonus-value bonus-275 long-bonus       " style="display:none">Health Globes and Potions Grant <span class="value">+23346</span> Life.</></span>
                    </a>

                </li>



                <li class="gear-label slot-feet">
                    <a href="http://eu.battle.net/d3/en/item/the-shadows-heels" data-d3tooltip="item/CloIs97SexIHCAQVFKRH0B2s05k5HT_yCdgdOydvJB1gniZHHUNORFEd8dNq1TCLUjiTA0AAUBJYBGCTA4ABRqUBYJ4mR60B6-LkBbUBoEWbf7gBvrqL-wvAAQQY1-_C-wVQAFgCoAGZzt7rDqAB2c_u4A6gAdfvwvsFoAGI3YP4AaABptHrlAagAfqOkawP" class="label-link d3-color-green">
                        <span class="item-name">The Shadow's Heels</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+458</span> Dexterity</></span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+423</span> Vitality</></span>
                        <span class="bonus-value bonus-54 long-bonus       " style="display:none"><span class="value">+</span><span class="value">97</span> Resistance to All Elements</></span>
                        <span class="bonus-value bonus-126 long-bonus       " style="display:none"><span class="value">+10</span><span class="value">%</span> Movement Speed</></span>
                        <span class="bonus-value bonus-153 long-bonus       " style="display:none"><span class="value">+33</span><span class="value">%</span> Extra Gold from Monsters</></span>
                        <span class="bonus-value bonus-275 long-bonus       " style="display:none">Health Globes and Potions Grant <span class="value">+25306</span> Life.</></span>
                    </a>

                </li>



                <li class="gear-label slot-hands">
                    <a href="http://eu.battle.net/d3/en/item/the-shadows-grasp" data-d3tooltip="item/ClsI3rzXvQISBwgEFb0jwnodcYt38B0WSfSHHbi8IHodnAYAyx1-VrMuHcr6vKAwi1o4ygJAAFASWARgygKAAUalAbi8IHqtAZinjsC1AclbkqS4AYvZh_4IwAEIGPqOkawPUABYAqABmc7e6w6gAdnP7uAOoAHX78L7BaABiN2D-AGgAabR65QGoAH6jpGsDw" class="label-link d3-color-green">
                        <span class="item-name">The Shadow's Grasp</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+964</span> Dexterity</></span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+939</span> Vitality</></span>
                        <span class="bonus-value bonus-64 long-bonus       " style="display:none">Critical Hit Damage Increased by <span class="value">35.0</span><span class="value">%</span> </></span>
                        <span class="bonus-value bonus-67 long-bonus       " style="display:none">Critical Hit Chance Increased by <span class="value">9.5</span><span class="value">%</span></></span>
                        <span class="bonus-value bonus-131 long-bonus       " style="display:none"><span class="value">+</span><span class="value">183</span> Arcane Resistance</></span>
                        <span class="bonus-value bonus-246 long-bonus       " style="display:none">Increases Gold and Health Pickup by <span class="value">2</span> Yards.</></span>
                    </a>

                </li>



                <li class="gear-label slot-shoulders">
                    <a href="http://eu.battle.net/d3/en/item/the-shadows-burden" data-d3tooltip="item/ClsI76C3vAgSBwgEFRMs8okd8dNq1R07J28kHUNORFEduLwgeh3ErTlcHazTmTkwi1I41wJAAFASWARg1wKAAUalAfHTatWtAfHTatW1AdL4yBW4Ad2v9JYDwAEGGNnP7uAOUABYAqABmc7e6w6gAdnP7uAOoAHX78L7BaABiN2D-AGgAabR65QGoAH6jpGsDw" class="label-link d3-color-green">
                        <span class="item-name">The Shadow's Burden</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+497</span> Dexterity</></span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+486</span> Vitality</></span>
                        <span class="bonus-value bonus-54 long-bonus       " style="display:none"><span class="value">+</span><span class="value">96</span> Resistance to All Elements</></span>
                        <span class="bonus-value bonus-102 long-bonus       " style="display:none">Reduces cooldown of all skills by <span class="value">6.0</span><span class="value">%</span>.</></span>
                        <span class="bonus-value bonus-203 long-bonus       " style="display:none"><span class="value">+6556</span> Thorns Damage</span>
                        <span class="bonus-value bonus-275 long-bonus       " style="display:none">Health Globes and Potions Grant <span class="value">+24986</span> Life.</span>
                    </a>

                </li>



                <li class="gear-label slot-legs">
                    <a href="http://eu.battle.net/d3/en/item/the-shadows-coil" data-d3tooltip="item/Cp8BCLWL56sDEgcIBBVTdE0xHfHTatUdj5DKUB04neQEHUNORFEdf46HzB3TzAdjMItSOI0CQABQElgEYI0CaisKDAgAEI-E7sSBgIDgCxIbCNXVt_ULEgcIBBVCLTepMItSOABAAVgEkAEFaisKDAgAEJ2pg9OCgIDgOhIbCN68pbAKEgcIBBVCLTepMI9SOABAAVgEkAEFgAFGtQGfktWlGKbR65QGUABYAqABmc7e6w6gAdnP7uAOoAHX78L7BaABiN2D-AGgAabR65QGoAH6jpGsDw" class="label-link d3-color-green">
                        <span class="item-name">The Shadow's Coil</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+1011</span> Dexterity</span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+434</span> Vitality</span>
                        <span class="bonus-value bonus-60 long-bonus       " style="display:none"><span class="value">+562</span> Armor</span>
                        <span class="bonus-value bonus-130 long-bonus       " style="display:none"><span class="value">+</span><span class="value">147</span> Lightning Resistance</span>
                        <span class="bonus-value bonus-273 long-bonus       " style="display:none">Ignores Durability Loss</span>
                    </a>

                </li>



                <li class="gear-label slot-bracers">
                    <a href="http://eu.battle.net/d3/en/item/wraps-of-clarity" data-d3tooltip="item/ClYI65jq4Q0SBwgEFRq00R8d8dNq1R3mFdsNHT51eQUdOydvJB23W1RNMItSOKsCQABQElgEYKsCgAFGpQHmFdsNrQHmFdsNtQHbLMrLuAH5xLisA8ABAxi00I39A1AAWAI" class="label-link d3-color-orange">
                        <span class="item-name">Wraps of Clarity</span>
                        <span class="bonus-value bonus-36 long-bonus       " style="display:none">Lightning skills deal <span class="value">18</span><span class="value">%</span> more damage.</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+482</span> Dexterity</span>
                        <span class="bonus-value bonus-54 long-bonus       " style="display:none"><span class="value">+</span><span class="value">94</span> Resistance to All Elements</span>
                        <span class="bonus-value bonus-67 long-bonus       " style="display:none">Critical Hit Chance Increased by <span class="value">6.0</span><span class="value">%</span></span>
                        <span class="bonus-value bonus-135 long-bonus       " style="display:none">Reduces damage from melee attacks by <span class="value">6.0</span><span class="value">%</span></span>
                        <span class="bonus-value bonus--1 long-bonus       " style="display:none">Your Hatred Generators reduce your damage taken by <span class="d3-color-blue"><span class="value">32</span><span class="value">%</span></span> for 5 seconds.</span>
                    </a>

                </li>



                <li class="gear-label slot-mainHand">
                    <a href="http://eu.battle.net/d3/en/item/thunderfury-blessed-blade-of-the-windseeker" data-d3tooltip="item/CoIBCJb1xJ4LEgcIBBVWt3pQHRtdz0Qdnk-D3B1mIwZQHZBY1h4d9HAHrTCLWjjqAkAAUBJYBGDqAmorCgwIABCfoIPTgoCA4DoSGwiG6M2qAhIHCAQVQi03qTCPUjgAQAFYBJABBYABRqUB9HAHra0Byvq8oLUBm9nZ77gBgsulVsABARis3dWHClAAWAI" class="label-link d3-color-orange">
                        <span class="item-name">Thunderfury, Blessed Blade of the Windseeker</span>
                        <span class="weapon-dps">
                            <span class="value">2974.2</span> DPS
                        </span>
                        <span class="bonus-value bonus-10 long-bonus       " style="display:none"><span class="value">+</span><span class="value">1510</span>–<span class="value">1828</span> Lightning Damage</span>
                        <span class="bonus-value bonus-41 long-bonus       " style="display:none"><span class="value">+9</span><span class="value">%</span> Damage</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+861</span> Dexterity</span>
                        <span class="bonus-value bonus-64 long-bonus       " style="display:none">Critical Hit Damage Increased by <span class="value">130.0</span><span class="value">%</span> </span>
                        <span class="bonus-value bonus-240 long-bonus       " style="display:none">Monster kills grant <span class="value">+245</span> experience.</span>
                        <span class="bonus-value bonus--1 long-bonus       " style="display:none">Chance on hit to blast your enemy with Lightning, dealing <span class="d3-color-blue"><span class="value">287</span><span class="value">%</span></span> weapon damage as Lightning and then jumping to additional nearby enemies. Each enemy hit has their attack speed and movement speed reduced by <span class="value">30%</span> for 3 seconds. Jumps up to 5 targets.</span>
                    </a>

                </li>



                <li class="gear-label slot-offHand">
                    <a href="http://eu.battle.net/d3/en/item/emimeis-duffel" data-d3tooltip="item/ClYIm7bvrg0SBwgEFW3ndeodyfq8oB0mtR2VHZsGAMsddEWniR2AZlxGMItSOPsCQABQElgEYPsCgAFGpQEmtR2VrQF-VrMutQFU6r5buAG_md-UDsABEhil4tDYAlAAWAI" class="label-link d3-color-orange">
                        <span class="item-name">Emimei's Duffel</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+739</span> Dexterity</span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+715</span> Vitality</span>
                        <span class="bonus-value bonus-57 long-bonus       " style="display:none">Attack Speed Increased by <span class="value">20.0</span><span class="value">%</span></span>
                        <span class="bonus-value bonus-67 long-bonus       " style="display:none">Critical Hit Chance Increased by <span class="value">9.5</span><span class="value">%</span></span>
                        <span class="bonus-value bonus-103 long-bonus       " style="display:none">Reduces all resource costs by <span class="value">8</span><span class="value">%</span>.</span>
                        <span class="bonus-value bonus-185 long-bonus       " style="display:none"><span class="value">+11</span> Maximum Discipline (Demon Hunter Only)</span>
                        <span class="bonus-value bonus--1 long-bonus       " style="display:none">Bolas now explode instantly.</span>
                    </a>

                </li>



                <li class="gear-label slot-waist">
                    <a href="http://eu.battle.net/d3/en/item/chain-of-shadows" data-d3tooltip="item/ClYIxoSnoAMSBwgEFYDGMFgdOLLA1R3FRGRTHSCNN1QdQ05EUR3x02rVMItSOKUDQABQElgEYKoDgAFGpQHFRGRTrQHkMa8EtQHAp0LUuAH-4dn2AcABAhiAmoaDC1AAWAI" class="label-link d3-color-orange">
                        <span class="item-name">Chain of Shadows</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+430</span> Dexterity</span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+443</span> Vitality</span>
                        <span class="bonus-value bonus-60 long-bonus       " style="display:none"><span class="value">+380</span> Armor</span>
                        <span class="bonus-value bonus--1 long-bonus       " style="display:none">Increases <span class="value">Bolas</span> Damage by <span class="value">14</span><span class="value">%</span> (Demon Hunter Only)</span>
                        <span class="bonus-value bonus-127 long-bonus       " style="display:none"><span class="value">+</span><span class="value">146</span> Physical Resistance</span>
                        <span class="bonus-value bonus--1 long-bonus       " style="display:none">After using Impale, Vault costs no resource for 2 seconds.</span>
                    </a>

                </li>



                <li class="gear-label slot-rightFinger">
                    <a href="http://eu.battle.net/d3/en/item/restraint" data-d3tooltip="item/Co0BCMrNn70IEgcIBBXqNOh1Hay801Mdf46HzB1DTkRRHZinjsAd8dNq1R1mIwZQMItSOI4DQABQElgEYI4DajAKDAgAEKib-4ODgIDgChIgCJKW188OEgcIBBXKirPBMItSOABAAFASWASQAQXYATiAAUalAZinjsCtAZinjsC1ATZVXUS4AcvdgL8KwAEHGNTTwd4OUABYAqABkqK93g6gAdTTwd4O" class="label-link d3-color-green">
                        <span class="item-name">Restraint</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+424</span> Dexterity</span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+430</span> Vitality</span>
                        <span class="bonus-value bonus-64 long-bonus       " style="display:none">Critical Hit Damage Increased by <span class="value">49.0</span><span class="value">%</span> </span>
                        <span class="bonus-value bonus-130 long-bonus       " style="display:none"><span class="value">+</span><span class="value">160</span> Lightning Resistance</span>
                        <span class="bonus-value bonus-203 long-bonus       " style="display:none"><span class="value">+2647</span> Thorns Damage</span>
                    </a>

                </li>



                <li class="gear-label slot-leftFinger">
                    <a href="http://eu.battle.net/d3/en/item/focus" data-d3tooltip="item/Co0BCK_FyvcNEgcIBBWJqOd1HbRPiW4dG13PRB3egvzlHYQDodYd3DtTaB1mIwZQMItaOI8DQABQElgEYI8DajAKDAgAEIfxyYqBgICgGRIgCLOPksYCEgcIBBWHWaDBMIsCOABAAFASWASQAQDYATyAAUalAdw7U2itATKJx1q1ATZVXUS4Aa-M1LoOwAEEGJKivd4OUABYAqABkqK93g6gAdTTwd4O" class="label-link d3-color-green">
                        <span class="item-name">Focus</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+585</span> Dexterity</span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+590</span> Vitality</span>
                        <span class="bonus-value bonus-54 long-bonus       " style="display:none"><span class="value">+</span><span class="value">118</span> Resistance to All Elements</span>
                        <span class="bonus-value bonus-144 long-bonus       " style="display:none"><span class="value">+6893</span> Life after Each Kill</span>
                        <span class="bonus-value bonus-240 long-bonus       " style="display:none">Monster kills grant <span class="value">+233</span> experience.</span>
                    </a>

                </li>

                <li class="gear-label slot-neck">
                    <a href="http://eu.battle.net/d3/en/item/haunt-of-vaxo" data-d3tooltip="item/CoYBCL-w-LYFEgcIBBUXyVtdHazTmTkdmwYAyx1ADVULHX5Wsy4dyfq8oDCLUjiaA0AAUBJYBGCfA2ouCgwIABCSvs73hYCA4CQSHgiK72wSBwgEFejloMEwiwI4AEAAUBJYBJABANgBPIABRqUBQA1VC60BZiMGULUBsMVEZLgBsqaRuQfAAQcYrqTe1QtQAFgC" class="label-link d3-color-orange">
                        <span class="item-name">Haunt of Vaxo</span>
                        <span class="bonus-value bonus-51 long-bonus       "><span class="value">+633</span> Dexterity</span>
                        <span class="bonus-value bonus-53 long-bonus       " style="display:none"><span class="value">+682</span> Vitality</span>
                        <span class="bonus-value bonus-67 long-bonus       " style="display:none">Critical Hit Chance Increased by <span class="value">10.0</span><span class="value">%</span></span>
                        <span class="bonus-value bonus-275 long-bonus       " style="display:none">Health Globes and Potions Grant <span class="value">+28218</span> Life.</span>
                        <span class="bonus-value bonus--1 long-bonus       " style="display:none">Summons shadow clones to your aid when you Stun an enemy. This effect may occur once every <span class="value">30</span> seconds.</span>
                    </a>

                </li>
            </ul>

            <ul class="gear-lines">
                <li class="slot-head"></li>
                <li class="slot-torso"></li>
                <li class="slot-feet"></li>
                <li class="slot-hands"></li>
                <li class="slot-shoulders"></li>
                <li class="slot-legs"></li>
                <li class="slot-bracers"></li>
                <li class="slot-mainHand"></li>
                <li class="slot-offHand"></li>
                <li class="slot-waist"></li>
                <li class="slot-rightFinger"></li>
                <li class="slot-leftFinger"></li>
                <li class="slot-neck"></li>
            </ul>
        </div>
    </div>
</div>
        </div>



        <!--@*Icons: When any of the d3 APIs reference an icon you can use the following url to reference it: "http://media.blizzard.com/d3/icons/<type>
    /<size>
        /<icon>
            .png".
            The type can be "items" or "skills" based on the type of icon. For items size can be "small" or "large" and for skills size can be 21, 42 or 64.*@-->
            </div>



            <type>
                <size>
                    <icon>

                        @{
                        for (int i = 0; i < Model.Hero.skills.active.Length; i++)

                        {
                        D3DataContracts.Skill skill;
                        D3DataContracts.Rune rune;
                        if (i % 3 == 0)
                        {
                        <div class="row">
                            @for (int j = i; j < i + 3; j++)
                            {
                            skill = Model.Hero.skills.active[j].skill;
                            rune = Model.Hero.skills.active[j].rune;
                            <div class="col-md-4">
                                <div class="profile-container-skills">
                                    <p><strong> Skill: @skill.name</strong></p>
                                    <p>@skill.description</p>
                                    <p><strong>Rune: @rune.name</strong></p>
                                    <p>@rune.description</p>
                                </div>
                            </div>
                            }

                        </div>
                        }
                        }
                        }
                        </div>
