@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>View your Diablo </h2>
        <p>@Html.ActionLink("View D3Profile", "PlayerProfile", "Home", null , new { @class = "btn btn-primary btn-lg" })</p>
        
    </div>
</div>