@model Diablo3DamageCalc.Models.ProfileModel
@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.NoPlayerFound)
{
    <h3 class="validation-summary-errors">Id Not found</h3>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.EditorFor(Model => Model.BattleTag)
    @Html.ValidationMessageFor(Model => Model.BattleTag)

    <p>
        <input type="submit" value="View D3 Profile" class="btn btn-primary btn-lg" />
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 