@model Diablo3DamageCalc.Models.ProfileModel
@{
    ViewBag.Title = "D3Profile";
}

<h2>Player Profile</h2>

<p>@Model.PlayerProfile.BattleTag</p><br />

<h3>Heroes</h3>
<ul>
    @foreach (var hero in Model.PlayerProfile.Heroes)
    {
        <li>@hero.Name - @hero.Id</li>
    }
</ul>
